<html>
<head>
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta http-equiv="Content-Type" content="text/html;charset=utf-8" >

<link href="/static/node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
<link href="/static/cannelle/css/main-template.css" rel="stylesheet">
<link rel="stylesheet" href="/static/flat-ui/css/flat-ui.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
<script src="/static/node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="/static/node_modules/bootbox/bootbox.min.js"></script>
